.opt{
  box-shadow: 3px 3px 6px rgb(0, 0, 0),
  -3px -3px 6px #44403b;
  border-radius:0px 30px 0px 30px;
 
}


.effecto{
  color: #ffffff;
  background: #4ef037;
  border: 1px solid #4ef037;
  text-shadow: 0 0 5px black;
  box-shadow: 0 0 5px #4ef037, 0 0 20px #4ef037, 0 0 50px #4ef037,0 0 100px #4ef037;
  transition: 1s;
}



.wrong{
  color:#ffffff ;
  background: #fd1f1f;
  border: 1px solid #fd1f1f;
  text-shadow: 0 0 5px black;
  box-shadow: 0 0 5px #fd1f1f, 0 0 20px #fd1f1f, 0 0 50px #fd1f1f,
    0 0 100px #fd1f1f;
    animation: show 0.5s ease-in-out both;
}

@keyframes show{
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

h1{
  -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
   animation: animate 5s linear infinite;
  }
  
  @keyframes animate{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
      color: #1d1d1d;
      text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
      color: #f2f2f2;
      text-shadow: 0 0 5px #6bcaf2, 0 0 20px #6bcaf2, 0 0 50px #6bcaf2,0 0 100px #6bcaf2;
    }
    
  }

  h2{
    text-shadow: 2px 2px 4px rgb(0, 0, 0),
    -2px -2px 4px #44403b;
  }
  
  /* From Uiverse.io by Navarog21 */ 
button {
  position: relative;
  width: 11em;
  height: 4em;
  outline: none;
  transition: 0.1s;
  background-color: transparent;
  border: none;
  font-size: 13px;
  font-weight: bold;
  color: #ddebf0;
}

#clip {
  --color: #495057;
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 5px double var(--color);
  box-shadow: inset 0px 0px 15px #195480;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.arrow {
  position: absolute;
  transition: 0.2s;
  background-color: #6bcaf2;;
  top: 35%;
  width: 11%;
  height: 30%;
}

#leftArrow {
  left: -13.5%;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
}

#rightArrow {
  -webkit-clip-path: polygon(100% 49%, 0 0, 0 100%);
  left: 102%;
}

button:hover #rightArrow {
  background-color: #6bcaf2;;
  left: -15%;
  animation: 0.6s ease-in-out both infinite alternate rightArrow8;
}

button:hover #leftArrow {
  background-color: #6bcaf2;;
  left: 103%;
  animation: 0.6s ease-in-out both infinite alternate leftArrow8;
}

.corner {
  position: absolute;
  width: 4em;
  height: 4em;
  background-color: #495057;
  box-shadow: inset 1px 1px 8px #2781c3;
  transform: scale(1) rotate(45deg);
  transition: 0.2s;
}

#rightTop {
  top: -1.98em;
  left: 91%;
}

#leftTop {
  top: -1.96em;
  left: -3.0em;
}

#leftBottom {
  top: 2.10em;
  left: -2.15em;
}

#rightBottom {
  top: 45%;
  left: 88%;
}

button:hover #leftTop {
  animation: 0.1s ease-in-out 0.05s both changeColor8,
  0.2s linear 0.4s both lightEffect8;
}

button:hover #rightTop {
  animation: 0.1s ease-in-out 0.15s both changeColor8,
  0.2s linear 0.4s both lightEffect8;
}

button:hover #rightBottom {
  animation: 0.1s ease-in-out 0.25s both changeColor8,
  0.2s linear 0.4s both lightEffect8;
}

button:hover #leftBottom {
  animation: 0.1s ease-in-out 0.35s both changeColor8,
  0.2s linear 0.4s both lightEffect8;
}

button:hover .corner {
  transform: scale(1.25) rotate(45deg);
}

button:hover #clip {
  animation: 0.2s ease-in-out 0.55s both greenLight8;
  --color: #6bcaf2;;
}

@keyframes changeColor8 {
  from {
    background-color: #2781c3;
  }

  to {
    background-color: #6bcaf2;;
  }
}

@keyframes lightEffect8 {
  from {
    box-shadow: 1px 1px 5px #6bcaf2;;
  }

  to {
    box-shadow: 0 0 2px #6bcaf2;;
  }
}

@keyframes greenLight8 {
  from {
  }

  to {
    box-shadow: inset 0px 0px 32px #6bcaf2;;
  }
}

@keyframes leftArrow8 {
  from {
    transform: translate(0px);
  }

  to {
    transform: translateX(10px);
  }
}

@keyframes rightArrow8 {
  from {
    transform: translate(0px);
  }

  to {
    transform: translateX(-10px);
  }
}


