

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  

        
    @font-face {
        font-family:'pavelt';
        src: url("C:/Users/zaidr/OneDrive/Desktop/React Js/first_/src/Assets/Pavelt.ttf");
      }

      @font-face {
        font-family:'big';
        src: url("C:/Users/zaidr/OneDrive/Desktop/React Js/first_/src/Assets/corruptor.clean-ldr-regular.ttf");
      }
      
    

    body{
      font-family:"pavelt";
    }




  }